# ==========================================================
# Gitignore philosophy: "allowlist rather than blocklist"
#
# By default we ignore all base directories and files,
# and only allowlist the necessary files and directories.
# ==========================================================

/*

# ==========================================================
# Allowlist: these files and directories should be included
!/.changeset/
!/.github/
!/.tx/
!/.vscode/
!/branding/
!/config/
!/crates/
!/docs/
!/nginx/
!/packages/
!/patches/
!/src/
!/translation_coverage/
!/utils/
!/vite-plugins/
!/.buildignore
!/.dockerignore
!/.editorconfig
!/.env.template
!/.eslintrc.js
!/.gitattributes
!/.gitignore
!/.htaccess
!/.pre-commit-config.yaml
!/CHANGELOG.md
!/Dockerfile
!/Dockerfile.e2e
!/index.html
!/LICENSE
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/README.md
!/setup-vitest.ts
!/tests.Dockerfile
!/tsconfig.json
!/vite.config.ts
!/vitest.config.ts

# ==========================================================
# Ignorelist: these files and directories should be excluded
*.env
/**/.cache/
/**/node_modules/
/**/*.log
